<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="BitAuto.Utils.CommonPlatformConfig" type="BitAuto.Utils.Config.CommonPlatformConfiurationSectionHandler, BitAuto.Utils" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>

    </sectionGroup>
    <section name="quartzservice" type="QuartzService.Config.QuartzServiceSection,QuartzService.Config"/>
  </configSections>

  <quartzservice>
    <server type="QuartzService.SchedulerServer,QuartzService" method="Start"></server>
    <jobs>
      <add name="default" type="Bitauto.Tuan.ActivitySignupCache.Program,Bitauto.Tuan.ActivitySignupCache" method="Run" cron="0 */5 * * * ?" />
    </jobs>
  </quartzservice>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="Bitauto.Tuan.ActivitySignupCache.Scheduler" />
    <add key="quartz.scheduler.instanceId" value="AUTO" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="5" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <add key="quartz.jobStore.useProperties" value="true" />
    <add key="quartz.jobStore.clustered" value="true" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
    <add key="quartz.jobStore.dataSource" value="myDS" />
    <add key="quartz.dataSource.myDS.connectionString" value="data source=.;initial catalog=quartznet;user id=sa;password=123456;multipleactiveresultsets=True;" />
    <add key="quartz.dataSource.myDS.provider" value="SqlServer-20" />

    <!--<add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz"/>
    <add key="quartz.scheduler.exporter.port" value="5556"/>
    <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler"/>
    <add key="quartz.scheduler.exporter.channelType" value="tcp"/>-->



  </quartz>
  <BitAuto.Utils.CommonPlatformConfig>
    <CommonConfig>
      <CacheConfig defaultProvider="EnyimProvider">
        <providers>
          <add name="EnyimProvider" type="BitAuto.Services.Cache.EnyimProvider,BitAuto.Services" servers="127.0.0.1:11211" socketConnectTimeout="1000" socketTimeout="1000" defaultExpireTime="5000000"/>
        </providers>
      </CacheConfig>
    </CommonConfig>
  </BitAuto.Utils.CommonPlatformConfig>
  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.200.126" port="11211"/>
        <add address="192.168.200.126" port="11212"/>
        <add address="192.168.200.126" port="11213"/>
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
    </memcached>
  </enyim.com>


  <connectionStrings>
    <add name="BitautoMallDB" connectionString="server=192.168.15.75\SQLEXPRESS;uid=sa2;pwd=sa;database=MarketTuan;"/>
    <add name="BitautoMallMessageDB" connectionString="server=192.168.15.161\YICHEHUI;uid=sa6;pwd=sa;database=MarketYichehui;"/>
    <add name="BitautoTuanBaseDB" connectionString="server=192.168.15.161\YICHEHUI;uid=sa6;pwd=sa;database=MarketYichehui;"/>
  </connectionStrings>

  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="server" value="192.168.200.126:11211"/>

    <!--正在活动的地区缓存时间,以分钟为单位-->
    <add key="ActivityAreaMemTimeConfig" value="30"/>
    <!--menbercache缓存的时间，以小时为单位-->
    <add key="MemDefaultTimeConfig" value="24"/>
    <!--是否使用全局错误提示，true使用，false不使用-->
    <add key="GLOBAL_ERROR" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>