@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quartz.Net 任务管理</title>
    <link href="~/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery-form.js"></script>
    <link href="~/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>

    <style type="text/css">
        th, td {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>


</head>
<body style="padding-top: 30px; ">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Quartz.Net 任务管理</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="javascript:;">服务器</a></li>
                    <li class="dropdown">
                        <a id="lblHost" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="lsHosts"></ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="page-header">
            <h3>任务列表</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" id="btnRefresh">
                    <span class="glyphicon  glyphicon-repeat" aria-hidden="true"></span>刷新
                </button>

                <button class="btn btn-info" id="btnRevise">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>校验任务
                </button>
                <button class="btn btn-success" id="btnReload">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重新加载任务
                </button>
                <button class="btn btn-success" id="btnAdd">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加任务
                </button>
                <button class="btn btn-success" id="btnShow">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>查看任务数据
                </button>
            </div>
            <div class="col-md-12" id="divTb">
            </div>

        </div>
    </div>
    <!-- Modal -->
    <!--文件上传-->
    <div class="modal fade" style="z-index:10000" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modelTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form1" action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="schId" id="hidSchId" />
                        <input type="file" id="fileUpload" name="fileUpload" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnUpload">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--提示框-->
    <div class="modal fade" id="modalWarn" style="z-index:100000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h5><span class="glyphicon glyphicon-warning-sign"></span><span id="spanWarnTitle"></span></h5>
                </div>
                <div class="modal-body" id="divWarnMsg">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h5><span class="glyphicon glyphicon-info-sign"></span><span id="spanInfoTitle"></span></h5>
                </div>
                <div class="modal-body" id="divInfoMsg">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--data-->

    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h5><span class="glyphicon glyphicon-info-sign"></span><span>任务数据列表</span></h5>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" style="width:600px;table-layout:fixed;">
                        <colgroup>
                            <col style="width:120px" />
                            <col span="3" style="width:220px" />
                            <col style="width:120px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>任务名(SchedulerName)</th>
                                <th>上传目录(SchedulerName)</th>
                                <th>执行程序名(FileName)</th>
                                <th>监听端口(Port)</th>
                            </tr>
                        </thead>
                        <tbody id="lsData"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--add/update-->
    <div class="modal fade" id="modalScheduler" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h5><span class="glyphicon glyphicon-info-sign"></span><span id="schTitle"></span></h5>
                </div>
                <div class="modal-body">
                    <form id="form2" action="">
                        <input type="hidden" id="hidSchedulerId" name="SchedulerId" value="0" />
                        <div class="form-group">
                            <label for="SchedulerName">任务名(SchedulerName)</label>
                            <input type="text" id="txtSchedulerName" name="SchedulerName" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label for="Directory">上传目录(SchedulerName)</label>
                            <input type="text" id="txtDirectory" name="Directory" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="FileName">执行程序名(FileName)</label>
                            <input type="text" id="txtFileName" name="FileName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Port">监听端口(Port)</label>
                            <input type="text" id="txtPort" name="Port" class="form-control" />
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnAddOK">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--all-->
    <div class="modal fade" id="modalAll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <div style="height:50px;margin-top:30px;">
                        <div style="width:300px;float:left;word-break:break-all;">
                            <b>Bitauto.Tuan.ActivityCache.Scheduler</b>
                        </div>

                        <div style="width:300px;float:left;" id="divAll">
                            <button class="btn btn-default" id="btnStartAll">运行</button>
                            <button class="btn btn-default" id="btnStopAll">停止</button>
                            <button class="btn btn-default" id="btnKillAll">强关</button>
                            <button class="btn btn-default" id="btnUploadAll">更新</button>
                            <button class="btn btn-default" id="btnReviseAll">校验</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div style="height:400px;overflow:scroll">

                        <table class="table table-bordered" style="margin-top:20px;">
                            <colgroup span="4" style="width:25%"></colgroup>
                            <thead>
                                <tr>
                                    <th>服务器</th>
                                    <th>状态</th>
                                    <th>显示</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbAll"></tbody>
                        </table>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--mask-->
    <div class="modal fade" id="modalMask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    </div>


</body>
</html>
