
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link href="~/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery-form.js"></script>
    <link href="~/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top:100px">
        <form class="form-sign well" role="form" method="post" style="width:300px;margin:0px auto;">
            <h3>登录</h3>
            <label>用户名</label>
            <input type="text" class="form-control" name="userName" placeholder="用户名" required autofocus />
            <label>密码</label>
            <input type="password" class="form-control" name="password" placeholder="密码" required />
            <button class="btn btn-lg btn-primary" type="submit">登录</button>
        </form>

    </div>
</body>
</html>
